.html {
    background-image: "IMG_1492.jpg"
}

.topbar {
    list-style-type: none;
    background-color: gray;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
}
.topbar > li  {
    list-style-type: none;
    display: inline-block;
    padding: 16px;
    color: black;
    margin: 0px;
}
.topbar > li:hover {
    display: inline-block;
    padding: 16px;
    color: black;
    margin: 0px;
    background-color: #AAA;
}